<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>3.12CollectionView图片轮播.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BFF707C21C9445E200FC49B8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BFF707DB1C9445E200FC49B8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BFF707E61C9445E200FC49B8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
